body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #FAAF90;
    color: black;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1%;
    background-color: white;
    color: black;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1%;
    background-color: white;
    color: #8babf1;
    border-style: solid;
    border-color: #fcc9b5;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1%;
    background-color: #fcc9b5;
    color: black;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: auto;
    align-items: right;
  }

  nav li {
    list-style-type: none;
  }

  nav li::before ,
  nav li::after {
  content: '\2764';
  color: #b3c7f7;
  padding: 1%;
  font-family: cursive;
}

h3 {
    border-style: solid;
    border-color: #8babf1;
    padding: 1%;
    margin: 1%;
}